body {
  background-color: #202124;
}
.container_box {
  width: 100%;
}
.video_box {
  width: 31%;
  float: left;
  border: 1px solid red;
  margin: 38px 0px 0px 39px;
  border-radius: 3%;
  height: 500px;
}
.output_box {
  width: 30%;
  border: 1px solid green;
  float: left;
  margin: 37px 0px 0px 61px;
  border-radius: 3%;
  height: 500px;
}
.barcode_txt {
}
